<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
	<title>Cadastrar Item</title>
</head>
<body>
<nav class="nav-extended">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Minha Lista</a>
  <ul class="right hide-on-med-and-down">
        <li><a href="/minhasListas">Listas</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/cadastrar">Cadastrar</a></li>
      </ul>
    </div>
  </nav>
<section style="min-height: 100vh;">
	<div class="container">
		<h1>Cadastro de Item</h1>
	</div>
	
<div class="container">
		<form method="post">
			<div class="row">
				<div class="col s4">
					Nome do item: <input type="text" value="" name="nome"  placeholder="Nome do item"/>
				</div>
				<div class="col s4">
					Local de compra: <input type="text" value="" name="localCompra"  placeholder="Local de compra"/>
				</div>
				<div class="col s4">
					<button class="btn waves-effect waves-light" type="submit"> Adicionar<i class="material-icons right">add</i></button>
				</div>
			</div>
		</form>
	</div>
</section>

<footer class="page-footer">
    <div class="footer-copyright">
    	<div class="container">
	    	© 2019 Copyright Text
	    	<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    	</div>
  	</div>
</footer>


<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>